body{
    margin: 0;
    padding: 0;
}
.bodyy {
    font-family: "Atkinson Hyperlegible", sans-serif;
    min-height: 100vh;
    /* background: linear-gradient(to right top, #3d4142, #000000); */
    background: linear-gradient(to right top, #b493ed, #3b82f6);
    display: flex;
    justify-content: space-between;
}
.sidebar {
    background-color: #000;
    color: #fff;
    width: 250px;
    height: 100vh;
    top: 0;
    left: 0;
    padding: 20px;
    padding-left: 0;
    padding-right: 0;

}

.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 20px;
}

.profile-info {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    align-items: left;
}

.profile-info h2 {
    color: #fff;
    font-size: 18px;
    margin: 0;
    margin-bottom: 5px;
}

.profile-info p {
    color: #5c6066;
    font-size: 14px;
    margin: 0;
}
.premium{
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: 20px;
    margin: 5px 0;
}

.premium button {
    background-color: #000;
    color: #3b82f6;
    font-size: 16px;
    border: none;
    padding: 10px 20px;
    border: #3b82f6 2px solid;
    border-radius: 30px;
    cursor: pointer;
    width: 80%;
}

.profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.sidebar h3 {
    color: #fff;
    font-size: 24px;
    margin-left: 20px;
}

.sidebar a {
    color: #82888f;
    text-decoration: none;
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
    margin-right: 0;
    height: 30px;
    display: flex;
    align-items: center;;
    padding-left: 20px;

}

.sidebar a:hover {
    background-color: #545961;
}

.links  {
    margin-top: 20px;
}

#tag {
    color: #ffcf30;
}
/* .main {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    background: linear-gradient(to right top, #441cd6, #8530e6);
    display: flex;
    align-items: center;
    justify-content: center;
    
} */
.main {
    background: white;
    min-height: 90vh;
    width: 70%;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.1)
    );
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blur(2rem);
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.header {
    /* background-color: #000; */
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#logo{
    background-color: #000;
    color: #fff;
    font-size: 18px;
    padding: 11px 20px;
    display: flex;
    border-radius: 30px;
    margin-top: 20px;
    align-items: center;
    margin-left: 20px;
}

.icons {
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    height: 40px;
    padding-left: 20px;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 20px;
    margin-right: 20px;
}
.icons img {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin-right: 20px;
}

#square {
    margin-right: 20px;
}
#search {
    margin-right: 20px;
}

.days {
    height: 100%;
    padding: 0;
    font-size: 14px;
    overflow-y: hidden;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    scrollbar-width: thin;          /* "auto" or "thin" */
    scrollbar-color: white black;   /* scroll thumb and track */ 
    border-radius: 10px;
}

.day {
    background-color: #000;
    color: #fff;
    min-width: 300px;
    padding: 10px 20px;
    border-radius: 16px;
    margin-left: 16px;
    height: fit-content;
    padding-bottom: 20px;
}
.day h3 {
    font-size: 16px;
}

.task {
    background-color: #333;
    padding: 15px 20px;
    border-radius: 6px;
    margin-bottom: 10px;
    font-size: 18px;

}

#task {
    height: 15px;
    width: 15px;
}


.add input {
    background-color: #000;
    border: #82888f 2px solid;
    color: #82888f;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 6px;
    padding-right: 58px;

}
.add input::placeholder {
    color: #82888f;
}

.add input::selection {
    background-color: #000;
    color: #fff;
}